@charset "utf-8";
/* CSS Document */

    #nav li{
        background:#ff6537;
        line-height:31px;
        border-left:1px solid #b61d1d;
        padding-left:10px;
        position:relative;
    }
    #nav li h3 a{
        color:#fff;
        font-weight:normal;
		font-size:14px;
    }
    #nav li:hover{
        background:#f94a14;
    }
    #nav li h3:hover a{
        color:#fff
    }
    #nav li i{
        position:absolute;
        top:0px;
        right:10px;
        color:#fff;
    }
    #nav{
        width:210px;
        height:466px;
        float:left;
    }
    .menu_cont{
        width:500px;
        min-height:400px;
        border:1px solid red;
        position:fixed; top:0px; left:210px;
        padding:10px 20px;
        display:none
    }
    .menu_cont dl{
        display:block;
    }
    .menu_cont dt {
        height:30px;
        line-height:30px;
        border-bottom:1px solid #ccc;
        font-size:13px;
    }
    .menu_cont dd{
        float:left;
        margin:10px 10px 0 0
    }
    .menu_cont dd a{
        color:#000000;
    }
    .menu_cont dd a:hover{
        color:#f94a14;
    }