@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, ul, li, ol, a, div, p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.body {
	font-size: 14px;
}
body {
	font-family: "微软雅黑 Light";
	font-size: 14px;
}
.head {
	border-top: 4px #6e6e6e solid;
	height: 145px;
	border-bottom: #dcdcdc 4px solid;
}
.headniner {
	margin: auto;
	width: 1111px;
}
.head-top {
	height: 78px;
}
.logo {
	float: left;
	height: 79px;
	width: 930px;
}
.tel {
	float: right;
}
.phonea {
	margin-right: 20px;
	line-height: 30px;
	width: 100px;
	padding-left: 29px;
	background:url(../images/header_06.png) no-repeat left center;
	font-size: 18px;
}
.sousuo {
	width: 146px;
	height: 25px;
	border: 1px #c0c0c0 solid;
	background-image:url(../images/tubian_03.jpg);
	background-repeat: no-repeat;
	background-position: right;
	float: right;
	margin-top: 17px;
}
.head-bot {
	height: 72px;
	padding-bottom: 15px;
	margin: 10px;
}
.head-bot li {
	float: left;
	color: #333333;
	margin-right: 78px;
}
.head-bot li a {
	color: #333333;
}
.head-bot ul {
	height: 72px;
}
.head-bot ul li span {
	color: #a199a1;
}
.bannner {
	background-image:url(../images/zgs_02.jpg);
	background-repeat: no-repeat;
	height: 365px;
}
.main {
	width: 1111px;
	margin: 0 auto;
	height: 1325px;
}
.titlle {
	height: 72px;
	text-align: center;
}
.titlle h3 {
	font-size: 20px;
	line-height: 30px;
}
.titlle h3 a {
	color: #000000;
}
.titlle p a {
	color: #999999;
}
.titlle p {
	color: #999999;
	line-height: 30px;
}
.titlle p span {
	color: #e81727;
}
.titlle p span a {
	color: #e81727;
}
.main-one {
	width: 778px;
	height: 410px;
	text-align: left;
	float: left;
}
.main-one img {
	margin-right: 75px;
}
.main-one span {
	margin-right: 185px;
	line-height: 64px;
}
.main-one a {
	background-color: #a2a2a2;
	color: #fff;
	font-size: 13px;
	width: 100px;
	height: 23px;
	display: block;
	text-align: center;
	margin-left: 43px;
	float: left;
	margin-right: 115px;
	margin-top: 20px;
}
.main-one a img {
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
}
.main-two {
	width: 778px;
	height: 410px;
	text-align: left;
	float: left;
}
.main-two img {
	margin-right: 75px;
}
.main-two span {
	line-height: 64px;
	margin-left: 10px;
	margin-right: 185px;
}
.main-two a {
	background-color: #a2a2a2;
	color: #fff;
	font-size: 13px;
	width: 100px;
	height: 23px;
	display: block;
	text-align: center;
	margin-left: 43px;
	float: left;
	margin-right: 115px;
	margin-top: 20px;
}
.main-two a img {
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
}
.main-right {
	width: 245px;
	height: 887px;
	float: right;
	border-left: #e3e3e3 1px solid;
	padding-left: 5px;
}
.main-right h3 {
	font-size: 20px;
	line-height: 30px;
}
.big {
	width: 778px;
	height: 1203px;
	float: left;
}
.right-one {
	width: 242px;
	height: 360px;
	float: right;
}
.right-onea {
	width: 242px;
	height: 166px;
	float: right;
}
.right-onea span {
	float: right;
}
.right-onea a {
	float: right;
	color: #fff;
	background: #a2a2a2;
	width: 100px;
	height: 23px;
	text-align: center;
	margin-top: 5px;
}
.foot {
	height: 283px;
	background: #9e9e9e;
}
.footniner {
	margin: auto;
	width: 1111px;
}
.foot-one {
	float: left;
	width: 150px;
	height: 105px;
	margin-top: 27px;
}
.foot-one h3 {
	color: #ffffff;
	line-height: 30px;
}
.foot-one li {
	color: #bdbdbf;
	line-height: 30px;
}
.foot-one img {
	margin-right: 5px;
	margin-top: 5px;
}
.foot-two {
	float: left;
	width: 100px;
	height: 105px;
	margin-top: 27px;
	margin-left: 84px;
}
.foot-two h3 {
	color: #ffffff;
	line-height: 30px;
}
.foot-two li {
	color: #bdbdbf;
	line-height: 30px;
}
.foot-two li a {
	color: #bdbdbf;
	font-size: 12px;
}
.banquan {
	background-color: #666666;
	height: 57px;
}
.niner {
	margin: auto;
	width: 1111px;
}
.one {
	text-align: center;
	float: left;
	line-height: 55px;
	color: #fff;
}
.two {
	float: right;
	padding-top: 15px;
}
.right-onec {
	width: 245px;
	height: 133px;
	float: right;
}
.right-onec span {
	float: right;
}
.right-onec span a {
	background: #a2a2a2;
	color: #fff;
	text-align: center;
	width: 100px;
	height: 50px;
	margin-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
}
.yeshu {
	text-align: center;
	width: 1111px;
	height: 69px;
	padding-left: 90px;
}
.txt {
	padding-left: 10px;
	border: 1px solid #c0c0c0;
	line-height: 21px;
	width: 134px;
}
.btn {
	width: 28px;
	height: 30px;
	background:url(../images/tubian_03.jpg) no-repeat center;
	border: none;
}
.phonea a {
	color: #000;
}