<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
	
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link href="../css/技术中心.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <div class="inner">
        <div class="nav-top">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="蓝卡文化.html">蓝卡介绍</a></li>
                <li><a href="新闻动态.html">新闻动态</a></li>
                <li><a href="产品中心.html">产品展示</a></li>
                <li><a href="技术中心.html">技术中心</a></li>
                <li><a href="工程案例.html">工程案例</a></li>
                <li><a href="服务中心.html">服务中心</a></li>
                <li><a href="联系蓝卡.html">人力资源</a></li>
                <li><a href="联系蓝卡.html">联系蓝卡</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="clear"></div>
<div class="banner">
    <img src="../images/banner_02.jpg"/>
    <div class="inner">
        <div class="banner-logo">
            <img src="../images/logo_03.png"/>
        </div>
        <div class="banner-luader">
            <span><a href="#">中文版</a> </span>|
            <span><a href="#">English</a> </span>|
            <span><a href="#">Poccna</a> </span>
        </div>
        <div class="banner-pic">
            <img src="../images/banner-pic_03.png"/>
        </div>
    </div>
</div>
<section>
    <div class="inner">
        <div class="main">
            <br>
            <div class="main-top">
                <span>生产体系</span>
                <div class="main-top-right"><p>您当前位置: <a href="#">首页</a> ><a href="#">技术中心</a></p></div>
            </div>
            <div class="main-left">
                <img src="../images/main-bigpic_03.png"/>
            </div>
            <div class="main-right">
                <h3>技术中心</h3>
                <ul>
                    <li><a href="#">生产体系</a></li>
                    <li><a href="#">生产装备</a></li>
                    <li><a href="#">产品检测</a></li>
                    <li><a href="#">质量检测</a></li>
                    <li><a href="#">科研攻关</a></li>
                    <li><a href="#">断桥铝知识</a></li>
                </ul>
                <img src="../images/zhaossa_03.png"/>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="inner">
        <div class="footer-logo"><img src="../images/footer_03.png"/> </div>
        <div class="footer-text">
            <p>2010年 德国蓝卡（香港）集团有限公司 版权所有</p>
            <p>全国免费热线：400-678-3786  电话：00852-21580629   传真：00852-35719160</p>
            <p>地址：香港上环苏杭接49-51号建安商业大厦7楼</p>
        </div>
    </div>
</footer>
</body>
</html>