<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/蓝卡文化.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <div class="inner">
        <div class="nav-top">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="蓝卡文化.html">蓝卡介绍</a></li>
                <li><a href="新闻动态.html">新闻动态</a></li>
                <li><a href="产品中心.html">产品展示</a></li>
                <li><a href="技术中心.html">技术中心</a></li>
                <li><a href="工程案例.html">工程案例</a></li>
                <li><a href="服务中心.html">服务中心</a></li>
                <li><a href="联系蓝卡.html">人力资源</a></li>
                <li><a href="联系蓝卡.html">联系蓝卡</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="clear"></div>
<div class="banner">
    <img src="../images/banner_02.jpg"/>
    <div class="inner">
        <div class="banner-logo">
            <img src="../images/logo_03.png"/>
        </div>
        <div class="banner-luader">
            <span><a href="#">中文版</a> </span>|
            <span><a href="#">English</a> </span>|
            <span><a href="#">Poccna</a> </span>
        </div>
        <div class="banner-pic">
            <img src="../images/lankawenhua-banner_03.png"/>
        </div>
    </div>
</div>
<section>
    <div class="inner">
        <div class="main">
            <br>
            <div class="main-top">
                <span>蓝卡文化</span>
                <div class="main-top-right"><p>您当前位置: <a href="#">首页</a> ><a href="#">蓝卡介绍</a></p></div>
            </div>
            <div class="main-section">
                <br>
                <div class="qianyan">
                    <h3>企业宗旨:</h3>
                    <span>研究和开发断桥铝产品，服务于建筑、交通等领域，致力于提供环保、节能、健康的产品。</span><br>
                    <span>满足顾客要求和市场需求，客户利益至上</span><br>
                    <span>以崇高的道德准则，严格履行行业规范从事各种经营活动，关注客户、员工相关利益，承担社会责任，促进社会和谐。</span><br><br>
                    <h3>企业愿景:</h3>
                    <p>成为中国铝型材行业的领导品牌。</p>
                    <p>成为全球有影响力的断桥铝产品专业研发制造商与服务商。</p>
                    <p>成为世界上最具竞争力和被社会公认的卓越品牌企业。</p>
                    <p>塑造“专、优、快、严”的企业文化。</p>
                </div>
                <br>
                <div class="box-text">
                    <h3>企业核心价值观：</h3>
                    <ul>
                        <li><span>诚信：</span>企业立足之本</li>
                        <li><span>创新：</span>企业发展之源</li>
                        <li><span>责任：</span>企业修身之德</li>
                        <li><span>共赢：</span>企业生存之道</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <br>
                <div class="box-text-two">
                    <h3>企业经营理念：</h3>
                    <ul>
                        <li><span>品质理念：</span>质量是蓝卡价值和尊严的起点</li>
                        <li><span>研发理念：</span>市场需求是蓝卡研发的根本方向和指针</li>
                        <li><span>制造理念：</span>追求产业专业化和产品多元化</li>
                        <li><span>人才理念：</span>人才是企业发展的核心竞争力</li>
                    </ul>
                </div>
                <br>
                <div class="box-text-three">
                    <h3>企业文化：</h3>
                    <ul>
                        <li><span>专：</span>专注、专业于断桥铝研发与制造，在产业领域内做深做细，在产业规模与品牌上做强做大。</li>
                        <li><span>优：</span>品质优秀是蓝卡屹立不倒的根基。</li>
                        <li><span>快：</span>满足市场需求快、生产交货快是蓝卡最突出的特色。</li>
                        <li><span>严：</span>管理规范是企业健康、持续发展的根本保障。</li>
                    </ul>
                </div>
            </div>
            <div class="main-right">
                <h3>蓝卡介绍</h3>
                <ul>
                    <li><a href="#">蓝卡简介</a></li>
                    <li><a href="#">总裁致辞</a></li>
                    <li><a href="#">蓝卡文化</a></li>
                    <li><a href="#">组织架构</a></li>
                    <li><a href="#">地理位置</a></li>
                </ul>
                <img src="../images/zhaossa_03.png"/>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="inner">
        <div class="footer-logo"><img src="../images/footer_03.png"/> </div>
        <div class="footer-text">
            <p>2010年 德国蓝卡（香港）集团有限公司 版权所有</p>
            <p>全国免费热线：400-678-3786  电话：00852-21580629   传真：00852-35719160</p>
            <p>地址：香港上环苏杭接49-51号建安商业大厦7楼</p>
        </div>
    </div>
</footer>
</body>
</html>